<body id="page-top">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">


            <div class="container-fluid">
                <h3 class="text-dark mb-4">Inqueries</h3>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                            aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Details</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%for(let i=0;i<data.length;i++){%>

                                        <tr>

                                            <td>
                                                <%=data[i].name %>
                                            </td>
                                            <td>
                                                <%=data[i].email %>
                                            </td>
                                            <td>
                                                <%=data[i].details %>
                                            </td>
                                            <td>
                                                <%=data[i].status %>
                                            </td>
                                            <td>

                                                <a href="<%=`/resolved/${data[i].id}`%>">
                                                    <i class="fa fa-check" data-bs-toggle="tooltip" data-bss-tooltip=""
                                                        data-bs-placement="bottom" style="color: rgb(255, 0, 0);"
                                                        title="mark as view"></i>
                                                </a>
                                            </td>>
                                        </tr>


                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>