<body id="page-top">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">


            <div class="container-fluid">
                <h3 class="text-dark mb-4">User Management</h3>
                <a class="btn-sm btn-primary" role="button" href="/add_user"><i class="fa fa-plus"
                        style="padding: 6px;"></i> Add user
                </a>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                            aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Access</th>
                                        <th>Email</th>
                                        <th>Latitude</th>
                                        <th>Longitude</th>
                                       <th>Voilation</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%for(let i=0;i<data.length;i++){%>

                                        <tr>

                                            <td><img class="rounded-circle me-2" width="30" height="30"
                                                    src="<%=`uploads/${(data[i].profile).toString()}`%>">
                                                <%=data[i].firstname %>
                                                    <%=data[i].lastname %>
                                            </td>
                                            <td>
                                                <%=data[i].user_type %>
                                            </td>
                                            <td>
                                                <%=data[i].email %>
                                            </td>
                                            <td id="latitude"></td>
                                            <td id="longitude"></td>

                                            <script>
                                                let y = document.getElementById("latitude");
                                                let x = document.getElementById("longitude");
                                                function getLocation() {
                                                    if (navigator.geolocation) {
                                                        navigator.geolocation.getCurrentPosition(showPosition);
                                                    } else {
                                                        x.innerHTML = "Geolocation is not supported by this browser.";
                                                    }
                                                }

                                                function showPosition(position) {
                                                    y.innerHTML = position.coords.latitude;
                                                    x.innerHTML = position.coords.longitude;
                                                    console.log(position.coords.latitude,position.coords.longitude)
                                                }
                                                getLocation();
                                            </script>
                                            <td>
                                                <%=data[i].updatedAt%>
                                            </td>
                                            <td><i class="fa fa-circle" data-bs-toggle="tooltip" data-bss-tooltip=""
                                                    data-bs-placement="bottom" style="color: rgb(26,254,6);"
                                                    title="online"></i><i class="fa fa-circle" data-bs-toggle="tooltip"
                                                    data-bss-tooltip="" data-bs-placement="bottom"
                                                    style="color: rgb(0,0,0);border-color: rgb(0,0,0);"
                                                    title="offline"></i><i class="fa fa-circle" data-bs-toggle="tooltip"
                                                    data-bss-tooltip="" data-bs-placement="bottom"
                                                    style="color: rgb(255,0,0);border-color: rgb(0,0,0);"
                                                    title="error"></i></td>
                                            <td>
                                                <a href="/dashboard">
                                                    <i class="fa fa-eye" data-bs-toggle="tooltip" data-bss-tooltip=""
                                                        data-bs-placement="bottom" style="color: rgb(255, 0, 0);"
                                                        title="View Details"></i>
                                                </a>
                                        </tr>


                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>